NODE_ENV=development

PORT=8003

DB_HOST=localhost
DB_PORT=3308
DB_USER=quantumcart
DB_PASSWORD=quantumcart_root
DB_NAME=quantumcart_cart
DB_CONNECTION_LIMIT=10

DB_ROOT_USER=root
DB_ROOT_PASSWORD=root

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200
PRODUCT_SERVICE_URL=http://localhost:8001